<div class="contianer mt-3">
  <div class="d-flex flex-column justify-content-center align-items-center" style="height: calc(100vh - 4rem); padding: 20px;">
    <img src="../../../assets/imgs/illustrations/coming_soon.svg" alt="coming_soon" style="width: 100%; height: auto; max-width: 500px;">
    <div style="text-align: center;">
      <h4 class="mb-1 mt-5">Hi there,</h4>
      <h3 class="mb-1">We would we be launching with our wide range of accessories soon.</h3>
      <h4>Stay tuned!</h4>
    </div>
  </div>
</div>
