<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Details">
    <div class="container">
      <div class="row mt-3">
        <div class="col-6">
          <span class="details_header">
            Tracking Id
          </span>
          {{ _orderService.orderDetailsSummary.trackingId }}
        </div>
        <div class="col-6">
          <span class="details_header">
            Status
          </span>
          <span [class]="'badge ' + _orderService.orderDetailsSummary.status">
            {{ _orderService.orderDetailsSummary.status | titlecase }}
          </span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <span class="details_header">
            No of Items
          </span>
          {{ _orderService.orderDetailsSummary.itemsCount }}
        </div>
        <div class="col-6">
          <span class="details_header">
            Amount Paid
          </span>
          &#8377; {{ _orderService.orderDetailsSummary.netTotal }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <span class="details_header">
            Shipping Method
          </span>
          {{ _orderService.orderDetailsSummary.customerDetails.shippingMethod | titlecase }}
        </div>
        <div class="col-6">
          <span class="details_header">
            Payment Mode
          </span>
          {{ _orderService.orderDetailsSummary.customerDetails.paymentMode }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <span class="details_header">
            First Name
          </span>
          {{ _orderService.orderDetailsSummary.customerDetails.firstName }}
        </div>
        <div class="col-6">
          <span class="details_header">
            Last Name
          </span>
          {{ _orderService.orderDetailsSummary.customerDetails.lastName }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <span class="details_header">
            Address
          </span>
          {{ _orderService.orderDetailsSummary.customerDetails.address }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <span class="details_header">
            City
          </span>
          {{ _orderService.orderDetailsSummary.customerDetails.city }}
        </div>
        <div class="col-6">
          <span class="details_header">
            Country
          </span>
          {{ _orderService.orderDetailsSummary.customerDetails.country }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <span class="details_header">
            Postal Code
          </span>
          {{ _orderService.orderDetailsSummary.customerDetails.postalCode }}
        </div>
        <div class="col-6">
          <span class="details_header">
            Phone
          </span>
          +91 {{ _orderService.orderDetailsSummary.customerDetails.phone }}
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Products Ordered">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="order_container">
            <ng-container *ngFor="let cartItem of _orderService.cartItems$ | async; last as last;">
              <app-ordered-product-card [cartItem]="cartItem" [isLast]="last"></app-ordered-product-card>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
